p
{ 
  text-align:center; 
  background-color:#D7BDE2; 
}
.box{
  background-color:#D7BDE2; 
  font-family: 'Arial';
  font-size: 12px;
  display:flex;
}
td{
  width:50px;
}
.username{
  color: blue;
  margin-left:50px;
}
.button {
  background-color: red; /* Green */
  border: none;
  color: rgb(214, 68, 68);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height:20px;
  width:100px;
  border-radius: 8px;
}
.buttonclose {
  background-color: red; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;  
  border-radius: 8px;
  float:right;
}
.label{
	font-size: 5px;
}
.tdclass{
	text-align:center;
	
}
.fa-file-excel-o{
  color: green;
  float:right;
  padding:5px;

}
.fa-file-pdf-o{
  color: red;
  float:right;
  padding:5px;
  background-col

}
.fa-printer{
  color: white;
  float:right;
  padding:5px;


}
.fa-edit{
  color: blue;  
  padding:5px;
}
.fa-trash{
  color: red;  
  padding:5px;
}
.fa-eye{
  color: green;  
  padding:5px;
}
button.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height:20px;
  border-radius: 8px;
  margin-left:15px;
}
button.logout {
  background-color: #9ebfe0; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height:20px;
  border-radius: 8px;
  margin-left:15px;
  float:right;
  font-weight: bold;

}

button.editbutton {
  background-color: #9ebfe0;
  border: none;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  border-radius: 8px;
  padding:5px;
}
button.printbutton {
  
  border: none;
  color: blue;
  text-align: right;
  float: right;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  border-radius: 8px;
  background-color: #9ebfe0; 
  
  
}
div.scroll {       
        height: 500px;
        width: 1200px;
        overflow-y: scroll;
        margin-left:100px;
      }
.th{
  width:500px;
}
.divdisplay{
	font-weight: bold;
	display:inline-block;
	width:150px;
}
td.head{
	font-weight: bold;	
	width:250px;
	text-align:center;
	font-family: 'Arial';
}
td.headlong{
	font-weight: bold;	
	width:250px;
	text-align:center;
	font-family: 'Arial';
}
td.headpdf{
	font-weight: bold;	
	width:50px;
	text-align:center;
	font-family: 'Arial';
}
td.tail{
	text-align:center;	
	width:250px;
	font-family: 'Arial';
}
td.taillong{
	text-align:center;	
	width:250px;
	font-family: 'Arial';
  display:inline-block;
}
.listingsub{
  
  display: flex;
  
}
.title2{
  width: 1300px;
  height: 30px;
  overflow: hidden;
  margin-left:1px;
  padding: 10px;
  background: #FFFFFF;
  background-color: #9ebfe0;
  
}
.logout{
  color: #FFFFFF;
}
.messagecolor{
  color: red;
  background-color: red;
}

