p
{ 
  text-align:center; 
  background-color:#D7BDE2; 
}
.box{
  background-color:#D7BDE2; 
  font-family: 'Arial';
  font-size: 12px;
  display:flex;
}
td{
  width:50px;
}
.username{
  color: blue;
  margin-left:115px;
  

}
.button {
  background-color: #c5242c; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height:20px;
  width:100px;
  border-radius: 8px;
}
.buttonclose {
  background-color: red; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;  
  border-radius: 8px;
  float:right;
}
.label{
	font-size: 5px;
}
.tdclass{
	text-align:center;
	
}
.fa-file-excel-o{
  color: green;
  float:right;
  padding:5px;

}
.fa-file-pdf-o{
  color: red;
  float:right;
  padding:5px;

}
.fa-print{
  color: blue;
  float:right;
  padding:5px;

}
.fa-edit{
  color: blue;  
  padding:5px;
}
.fa-trash{
  color: red;  
  padding:5px;
}
.fa-eye{
  color: green;  
  padding:5px;
}
button.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height:20px;
  border-radius: 8px;
  margin-left:80px;
}

button.editbutton {
  background-color: white; 
  border: none;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  border-radius: 8px;
}
button.printbutton {
  background-color: white; 
  border: none;
  color: blue;
  text-align: right;
  float: right;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  border-radius: 8px;
  
}
div.scroll {       
        height: 500px;
        width: 700px;
        overflow-y: scroll;
        margin-left:100px;
      }
.th{
  width:500px;
}
.divdisplay{
	font-weight: bold;
	display:inline-block;
	width:150px;
}
td.head{
	font-weight: bold;	
	width:200px;
	text-align:center;
	font-family: 'Arial';
}
td.tail{
	text-align:center;	
	width:200px;
	font-family: 'Arial';
}
.listingsub{
  
  display: flex;
  
}
.title2{
  width: 150px;
  height: 30px;
  overflow: hidden;
  margin-left:1px;
  padding: 10px;
  background: #FFFFFF;
  
}

