body
{
  margin: 0;
  padding: 0;
  background-color:#D7BDE2;
  font-family: 'Arial';
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 100 0 0 450px;
    padding: 80px;
    background: #FFFFFF;
    border-radius: 15px ;

}
.title{
  width: 1320px;
  height: 10px;
  overflow: hidden;
  margin: auto;
  margin: 10 10 10 10px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 15px ;

}
.title2{
  width: 1150px;
  height: 15px;
  overflow: hidden;
  margin-left:80px;
  padding: 10px;
  background: #FFFFFF;
  
}
.profile{
  width: 150px;
  height: 175px;
  overflow: hidden;
  margin-left:80px;
  margin-top:10px;
  text-align:center;
  padding: 10px;
  background: #FFFFFF;
  
}
.listing{
  width: 970px;
  height: 500px;
  overflow: hidden;
  margin-left:10px;
  margin-top:10px;
  text-align:center;
  padding: 10px;
  background: #FFFFFF;
  
}
.divdisplay{
	font-weight: bold;
	display:inline-block;
	width:150px;
}
td.head{
	font-weight: bold;	
	width:200px;
	text-align:center;
	font-family: 'Arial';
}
td.tail{
	text-align:center;	
	width:200px;
	font-family: 'Arial';
}
.listingsub{
  
  display: flex;
  
}
.image{
  width: 20px;
  height: 18px;
  overflow: hidden;
  padding-top: -5px;
  
}
.spancl{
  float:right;
  color:	#000000;
  font-size: 12px;
  
}
span{
  color:	#FFFFFF;
  padding-bottom:20px;
  font-size: 12px;
}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
label{
    color: #000000;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #000000;
    font-size: 17px;
}
span{
    color: black;
    font-size: 17px;
}   
    
a{
    float: right;
    
}
.fa-file-excel-o{
  color: green;
  float:right;
  padding:5px;

}
.fa-file-pdf-o{
  color: red;
  float:right;
  padding:5px;

}
.fa-print{
  color: blue;
  float:right;
  padding:5px;

}
.fa-edit{
  color: blue;  
  padding:5px;
}
.fa-trash{
  color: red;  
  padding:5px;
}
.fa-eye{
  color: green;  
  padding:5px;
}
.username{
  color: blue;
  margin-top:25px;

}
button.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height:20px;
  border-radius: 8px;
}

button.editbutton {
  background-color: white; 
  border: none;
  color: blue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  border-radius: 8px;
}
button.printbutton {
  background-color: white; 
  border: none;
  color: blue;
  text-align: right;
  float: right;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  border-radius: 8px;
}

.th{
  width:500px;
}
div.scroll {       
        height: 500px;
        width: 970px;
        overflow-y: scroll;
      }